@charset "UTF-8";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input {
  background-color: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* SCSS миксин для подключения шрифтов */

/*---import: fonts-----------------------------------------------------*/

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*---import: иконочного шрифта-----------------------------------------------------*/

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.ttf?h229l7") format("truetype"), url("../fonts/icons.woff?h229l7") format("woff"), url("../fonts/icons.svg?h229l7#icons") format("svg"), url("../fonts/icons_footer.ttf?v9fld") format("truetype"), url("../fonts/icons_footer.woff?v9fld") format("woff"), url("../fonts/icons_footer.svg?v9fld#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  font-family: 'icons';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-gitnub:before {
  content: "\e900";
  font-size: 28px;
  color: #1B1F23;
}

._icon-logo:before {
  content: "\e901";
  color: #FFB45B;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._icon-message:before {
  content: "\e906";
}

._icon-twitter1:before {
  content: "\e907";
}

._icon-blue .path1:before {
  content: "\e908";
  color: #2684ff;
}

._icon-blue .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: black;
}

._icon-fox .path1:before {
  content: "\e90a";
  color: #fc6d26;
}

._icon-fox .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: #e24329;
}

._icon-fox .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: #fc6d26;
}

._icon-fox .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: #ffb45b;
}

._icon-fox .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: #e24329;
}

._icon-fox .path6:before {
  content: "\e90f";
  margin-left: -1em;
  color: #fc6d26;
}

._icon-fox .path7:before {
  content: "\e910";
  margin-left: -1em;
  color: #ffb45b;
}

._icon-fox .path8:before {
  content: "\e911";
  margin-left: -1em;
  color: #e24329;
}

._icon-message_footer:before {
  content: "\e902";
  color: red;
}

._icon-twitter_footer:before {
  content: "\e903";
  color: #FFAD33;
}

._icon-hub_footer:before {
  content: "\e900";
  color: #FFAD33;
  font-size: 24px;
}

._icon-logo_footer:before {
  content: "\e901";
  font-size: 24px;
  line-height: 1;
  color: #FFB45B;
}

/* %shablon {
	border: 2px solid #333;

//его  использование с помощью команды
@extend %shablon;

} */

body {
  padding-top: 70px;
  font-family: Roboto ,  Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #E5E5E5;
  font-size: 16px;
  position: relative;
}

body._lock {
  overflow: hidden;
}

/* progressbar  TOp*/

.progressbar {
  height: 2px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1021;
}

.progressbar__line {
  background-color: #FFAD33;
  height: 2px;
}

/* Анимац. воввремя загр. страницы */

.preloader-2 {
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  visibility: visible;
  background-color: #E5E5E5;
}

.preloader-2 .loader {
  width: 200px;
  height: 75px;
  position: absolute;
  left: 50%;
  top: 50%;
  line-height: 75px;
  text-align: center;
  color: #12100C;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
  margin: 0 auto;
}

.preloader-2 .loader__line {
  display: block;
  width: 100%;
  height: 8px;
  border: 2px solid #333;
  border-radius: 15px;
  background-color: #fff;
}

.preloader-2 .loader__line span {
  display: block;
  width: 0%;
  height: 5px;
  background-color: #333;
}

.preloader-2.done {
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

._container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}

._workcontainer {
  max-width: 1305px;
  margin: 0 auto;
  padding: 0 40px;
}

/*SCSS FILES
####################################*/

.header {
  background-color: #F5F4F4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  -webkit-transition: top .3s ease 0s;
  -o-transition: top .3s ease 0s;
  transition: top .3s ease 0s;
}

.fixed-header .header {
  top: -70px;
}

.fixed-header .show {
  top: 0;
}

.header.fixed .header__menu {
  height: auto;
  line-height: 40px;
}

.header__menu {
  height: 70px;
  padding: 10px 0;
  line-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #12100C;
}

.menu__logo_menu span {
  margin-left: 5px;
  font-size: 25px;
}

.menu__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #12100C;
}

.menu__logo a span {
  margin-left: 5px;
  font-size: 25px;
}

.menu__logo_burger {
  display: none;
}

/*Mobile first*/

.menu__link {
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  color: rgba(18, 16, 12, 0.7);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  white-space: nowrap;
  position: relative;
}

.menu__link_login {
  display: none;
}

.menu__link_asterisk {
  position: relative;
}

.menu__link_asterisk::after {
  position: absolute;
  bottom: -8px;
  right: -8px;
  color: red;
  content: '\002A';
}

.menu__login {
  font-family: Roboto;
  font-weight: 400;
  padding: 6px 23px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 12px;
  border: 1px solid #12100C;
  min-width: 80px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #F9F9F9;
  background-color: #12100C;
  font-size: 14px;
  line-height: 1.42;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.menu__login:hover {
  background-color: #fff;
  color: #12100C;
}

/*BURGER
###################################################################*/

/*BURGER*/

.menu__burger {
  display: none;
}

/*MAIN
####################################*/

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.arrow {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: hover .6s ease 0s, -webkit-animation .6s ease 0s;
  transition: hover .6s ease 0s, -webkit-animation .6s ease 0s;
  -o-transition: hover .6s ease 0s, animation .6s ease 0s;
  transition: hover .6s ease 0s, animation .6s ease 0s;
  transition: hover .6s ease 0s, animation .6s ease 0s, -webkit-animation .6s ease 0s;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.arrow.show {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-animation: upDown 1.5s infinite;
          animation: upDown 1.5s infinite;
}

.arrow:hover {
  -webkit-animation: none;
          animation: none;
}

.arrow img {
  width: 30px;
  height: 30px;
}

@-webkit-keyframes upDown {
  0%, 100% {
    -webkit-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }

  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
  }
}

@keyframes upDown {
  0%, 100% {
    -webkit-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }

  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
  }
}

.intro {
  padding: 45px 0 57px;
  position: relative;
}

.intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 25px;
}

.intro__title {
  padding-top: 100px;
  font-size: 80px;
  line-height: 1.1;
  color: #12100C;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 35px;
  -webkit-transform: translateY(40%);
      -ms-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
  -webkit-transition: all .6s ease 2s;
  -o-transition: all .6s ease 2s;
  transition: all .6s ease 2s;
}

.intro__title._active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition: all .6s ease 2s;
  -o-transition: all .6s ease 2s;
  transition: all .6s ease 2s;
}

.intro__text {
  margin-bottom: 45px;
  -webkit-transform: translateY(40%);
      -ms-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
  -webkit-transition: all .6s ease 2s;
  -o-transition: all .6s ease 2s;
  transition: all .6s ease 2s;
}

.intro__text._active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition: all .6s ease 2s;
  -o-transition: all .6s ease 2s;
  transition: all .6s ease 2s;
}

.intro__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 360px;
  margin: 0 -11px;
}

.intro__left {
  padding: 0 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__linkTry {
  white-space: nowrap;
  border-radius: 0.88em;
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.25;
  color: #12100C;
  padding: 0.55em 2.77em;
  background-color: #FFAE33;
  -webkit-transition: hover .3s ease;
  -o-transition: hover .3s ease;
  transition: hover .3s ease;
  margin-bottom: 16px;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.intro__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__link {
  margin-left: 28px;
}

.intro__link:first-child {
  margin-left: 0px;
}

.intro__right {
  padding: 0 11px;
}

.intro__image {
  margin-left: 25px;
  opacity: 0;
  -webkit-transition: all .6s ease 2s;
  -o-transition: all .6s ease 2s;
  transition: all .6s ease 2s;
}

.intro__image._active {
  opacity: 1;
  -webkit-transition: all .6s ease 2s;
  -o-transition: all .6s ease 2s;
  transition: all .6s ease 2s;
}

.developer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -32px;
}

.developer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 50px 32px 50px 32px;
}

.developer__subtitle {
  margin-bottom: 4px;
}

.developer__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.developer__text p {
  margin-bottom: 30px;
}

.developer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 20px;
}

.developer__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.14;
  white-space: nowrap;
  color: #12100C;
  background-color: #FFAE33;
  border-radius: 0.75em;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.64em 1.28em;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  margin-right: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.developer__link:last-child {
  margin-right: 0px;
}

.developer__link_fucsia {
  background-color: #FFB0AE;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.developer__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 32px;
  margin-left: 25px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}

.developer__image._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}

.remote__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.remote__title {
  margin-bottom: 40px;
}

.remote__image {
  margin: 0 20px 50px;
  -webkit-box-shadow: -2px 2px 15px 8px rgba(255, 138, 0, 0.4);
          box-shadow: -2px 2px 15px 8px rgba(255, 138, 0, 0.4);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}

.remote__image._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}

.remote__image img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 14px;
}

.remote__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 940px;
  padding: 0 20px;
}

.remote__text {
  text-align: center;
  margin-bottom: 30px;
}

.remote__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  margin-left: 16px;
  font-family: inherit;
  font-weight: 700;
  font-size: 2.125em;
  line-height: 177.77778%;
  color: #12100C;
  background-color: #ffffff;
  padding: 0.44em 0.66em 0.44em 2.55em;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  border-radius: 0.5em;
  z-index: 1;
  white-space: nowrap;
}

.button:first-child {
  margin-left: 0px;
}

.button img {
  width: 1.33em;
  height: 1.33em;
  position: absolute;
  top: 25%;
  left: 0.66em;
}

.button__line {
  position: absolute;
  display: block;
  z-index: 4;
}

.button__line_top {
  top: 0;
  left: -95%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#1772FB));
  background: -o-linear-gradient(left, transparent, #1772FB);
  background: linear-gradient(90deg, transparent, #1772FB);
}

.button:hover .button__line_top {
  left: 95%;
  width: 100%;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.button__line_bottom {
  bottom: 0;
  right: -95%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#1772FB));
  background: -o-linear-gradient(right, transparent, #1772FB);
  background: linear-gradient(270deg, transparent, #1772FB);
}

.button:hover .button__line_bottom {
  right: 100%;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.button__line_left {
  bottom: -80%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#1772FB));
  background: -o-linear-gradient(bottom, transparent, #1772FB);
  background: linear-gradient(0deg, transparent, #1772FB);
}

.button:hover .button__line_left {
  bottom: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.button__line_right {
  top: -80%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#1772FB));
  background: -o-linear-gradient(top, transparent, #1772FB);
  background: linear-gradient(180deg, transparent, #1772FB);
}

.button:hover .button__line_right {
  top: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.comment__title {
  margin-bottom: 40px;
}

.comment__block {
  margin-bottom: 100px;
}

.comment__row {
  margin-bottom: 0;
}

.comment__items {
  padding-bottom: 20px;
  min-width: 0;
}

.comment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  max-width: 382px;
  min-width: 0;
  min-height: 264px;
  margin-right: 24px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
}

.comment__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.comment__subtext {
  margin-bottom: 15px;
}

.comment__subtext p {
  margin-bottom: 10px;
}

.comment__subtext p:last-child {
  margin-bottom: 0px;
}

.comment__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  height: 48px;
  margin-bottom: 10px;
  margin-right: 12px;
}

.comment__avatar img {
  border-radius: 50%;
}

.comment__name {
  margin-bottom: 8px;
}

.comment__name span {
  font-weight: 700;
}

.comment__prof span {
  font-weight: 700;
}

.partners {
  max-width: 1135px;
}

.comment__partners {
  padding: 0 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.partners__top {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__imgage {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 40px;
}

/* Основные стили slick slider */

/* Слайдер */

/*Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

/* Слайд */

.slick-slide {
  min-width: 382px;
  margin: 0 auto;
}

/* слайд активный */

/* слайд основной */

/* слайд по центру */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки */

.get__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.get__title {
  margin-bottom: 45px;
}

.get__subtitle {
  margin-bottom: 8px;
}

.get__text {
  margin-bottom: 60px;
}

.get__text_footer {
  margin-bottom: 10px;
}

.get__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.get__link {
  color: #FFFFFF;
  white-space: nowrap;
  padding: 0.642em 2.78em 0.642em 2.35em;
  min-width: 262px;
  min-height: 46px;
  font-size: 1.875em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #FC6D26;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.85em;
  margin-bottom: 1.142em;
}

.get__link:last-child {
  margin-bottom: 0px;
}

.get__linkIo {
  background: #FFE4BC;
  border-radius: 12px;
  padding: 3px 16px;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.get__img {
  margin-right: 16px;
}

._fox {
  background-color: #FC6D26;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

._git {
  background-color: #000000;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

._bit {
  background-color: #2684FF;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.get__connect {
  margin-right: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.get__connect,
.get__launch {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
  padding: 55px 55px 85px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-left: 13px;
}

.get__textLaunch {
  margin-bottom: 30px;
}

.get__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-width: 262px;
  margin-bottom: 12px;
  background: #F9F9F9;
  border-radius: 0.75em;
  padding: 0.75em;
}

.get__iconlanguage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get__iconlanguage img {
  margin-right: 0.875em;
}

.get__namelanguage {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 100%;
  color: rgba(18, 16, 12, 0.7);
}

.get__linklaunch {
  font-size: 0.77em;
  padding: 0.57em 0.85em;
  border-radius: 0.85em;
  background-color: #12100C;
  color: #ffffff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: rgba(18, 16, 12, 0.7);
}

.image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-family: inherit;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.8;
  text-align: center;
  color: #12100C;
}

.title span {
  font-weight: 400;
  font-family: inherit;
  color: #999795;
  text-decoration: line-through;
}

.subtext {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(18, 16, 12, 0.7);
}

.subtext_black {
  color: #12100C;
}

.subtitle {
  font-family: inherit;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  color: #12100C;
}

._anim-show {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease .4s;
  -o-transition: all .8s ease .4s;
  transition: all .8s ease .4s;
}

._anim-show._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

._active ._anim-show {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

/*FOOTER
####################################*/

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__content {
  background-color: #F9F9F9;
}

.footer__container {
  max-width: 900px;
  margin: 0 auto;
  padding: 48px 24px 0px;
}

.footer__body:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ECE7E5;
  margin-top: 40px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__title {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  color: #12100C;
  margin-bottom: 8px;
  position: relative;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: rgba(18, 16, 12, 0.7);
  margin-bottom: 8px;
  white-space: nowrap;
}

.footer__footer {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social a {
  margin-left: 16px;
}

/* СПОЙЛЕР меньше 500px */

.footer__row._init .footer__title {
  cursor: pointer;
  padding: 10px 40px 10px 10px;
}

.footer__row._init .footer__title::before,
.footer__row._init .footer__title::after {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background-color: #12100C;
  position: absolute;
  top: 20px;
  -webkit-transition: -webkit-transform .3s ease 0s;
  transition: -webkit-transform .3s ease 0s;
  -o-transition: transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s, -webkit-transform .3s ease 0s;
}

.footer__row._init .footer__title._active::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.footer__row._init .footer__title::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 0;
}

.footer__row._init .footer__title._active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.footer__row._init .footer__title::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 7px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__menu span {
  margin-left: 8px;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: rgba(18, 16, 12, 0.7);
}

.footer__subfooter {
  background-color: #ECE7E5;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(18, 16, 12, 0.7);
}

.footer__subcontainer {
  max-width: 1440px;
  padding: 5px 10px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__policy a {
  text-decoration: underline;
  cursor: pointer;
  color: rgba(18, 16, 12, 0.6);
}

.footer__cookies {
  white-space: nowrap;
  color: inherit;
  font-size: 1em;
  line-height: 150%;
  padding: 0.25em 1.5em;
  background-color: #F9F9F9;
  border-radius: 0.5em;
  margin-left: 10px;
}

.modal {
  min-width: 100%;
  height: 100%;
  background-color: rgba(18, 16, 12, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal__content {
  width: 100%;
  max-width: 400px;
  padding: 6rem 5rem 4rem;
  border-radius: 15px;
  background-color: #202020;
  position: relative;
}

.modal._hide {
  display: none;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form__group {
  width: 100%;
  margin-bottom: 35px;
  position: relative;
  border-bottom: 1px solid #3F3F3F;
}

.form__group_md {
  margin-bottom: 35px;
}

.form__control {
  display: block;
  color: #fff;
  width: 100%;
  background-color: transparent;
}

.form__control:focus + .form__line {
  width: 100%;
}

.form__control::-webkit-input-placeholder {
  color: rgba(193, 189, 189, 0.4);
}

.form__control::-moz-placeholder {
  color: rgba(193, 189, 189, 0.4);
}

.form__control:-ms-input-placeholder {
  color: rgba(193, 189, 189, 0.4);
}

.form__control::-ms-input-placeholder {
  color: rgba(193, 189, 189, 0.4);
}

.form__control::placeholder {
  color: rgba(193, 189, 189, 0.4);
}

.form__line {
  width: 0;
  height: 1px;
  background-color: #1656D8;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: width .6s ease 0s;
  -o-transition: width .6s ease 0s;
  transition: width .6s ease 0s;
}

.form__footer_list {
  margin: 0 -15px;
}

.form__footer_ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__footer_ul li a {
  color: #1656D8;
  font-size: 10px;
  padding: 0 15px;
  -webkit-transition: all  .6s ease 0s;
  -o-transition: all  .6s ease 0s;
  transition: all  .6s ease 0s;
}

.form__footer_ul li a:hover,
.form__footer_ul li a:focus {
  color: #CFCECE;
  text-decoration: underline;
  -webkit-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}

.btn {
  background-color: #FFAD33;
  font-size: 1.25em;
  font-family: Roboto;
  font-weight: 700;
  padding: 0.4em 1em;
  border-radius: 0.8em;
  margin-bottom: 40px;
  border: 2px solid rgba(18, 16, 12, 0.7);
  -webkit-box-shadow: 0px 0.1em 0.1em 0px rgba(255, 173, 51, 0.8);
          box-shadow: 0px 0.1em 0.1em 0px rgba(255, 173, 51, 0.8);
  -webkit-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}

.close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  padding: 0;
  border: none;
  -webkit-transition: opacity .6s ease 0s, -webkit-transform .6s ease 0s;
  transition: opacity .6s ease 0s, -webkit-transform .6s ease 0s;
  -o-transition: transform .6s ease 0s, opacity .6s ease 0s;
  transition: transform .6s ease 0s, opacity .6s ease 0s;
  transition: transform .6s ease 0s, opacity .6s ease 0s, -webkit-transform .6s ease 0s;
  opacity: .5;
}

.close:hover,
.close:focus {
  opacity: 1;
  -webkit-transform: rotate(90deg) scale(1.1);
      -ms-transform: rotate(90deg) scale(1.1);
          transform: rotate(90deg) scale(1.1);
}

/*  Шпаргалка сниппетов  


css - заготовка страницы css


disfl - display: flex;
		justify-content: space-between;
		align-items: center;

cont  - content: '';
		display: block;
		width: 100%;
		height: 2px;
		background-color: #333;

transi - transition: all .3s ease;

fdc - flex-direction: column;


md1 - @media (max-width: $md1 ){
		
	}

md2 - @media (max-width: $md2 ){
		
	}

md3 - @media (max-width: $md3 ){
		
	}
*/

@media (min-width: 767px) {
  .intro__linkTry:hover {
    background-color: #FF9A00;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-box-shadow: 0px 0.5em 0.88em rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0.5em 0.88em rgba(0, 0, 0, 0.3);
  }

  .developer__link:hover {
    background-color: #FF9A00;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
  }

  .developer__link_fucsia:hover {
    background-color: #FE9D9B;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
  }

  .button:hover {
    -webkit-box-shadow: 0 0 10px #FF8A00;
            box-shadow: 0 0 10px #FF8A00;
    background-color: #FF8A00;
    color: #333;
    -webkit-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
  }

  .get__linkIo:hover {
    background-color: #FDDEB1;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
  }

  ._fox:hover {
    background-color: #FF9A00;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
  }

  ._git:hover {
    background-color: #000000;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
  }

  ._bit:hover {
    background-color: #4293FE;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
  }

  .get__linklaunch:hover {
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-box-shadow: 0px 0.64em 1.14em rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0.64em 1.14em rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 900px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu__list li {
    margin-left: 45px;
  }

  .menu__link:after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #12100C;
    display: block;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .menu__link:hover:after {
    width: 100%;
  }

  .menu__link:hover {
    color: #12100C;
  }

  .button:hover {
    -webkit-box-shadow: 0px 0.5em 0.88em rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0.5em 0.88em rgba(0, 0, 0, 0.3);
  }

  .btn:hover,
  .btn:focus {
    -webkit-transition: all .6s ease 0s;
    -o-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 0.25em 0.25em 0px rgba(255, 173, 51, 0.8);
            box-shadow: 0px 0.25em 0.25em 0px rgba(255, 173, 51, 0.8);
  }
}

@media (max-width: 1305px) {
  ._workcontainer {
    max-width: 1100px;
  }

  .get__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .get__connect {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .get__launch {
    margin-left: 0;
  }

  .padding {
    padding: 50px 0 50px;
  }
}

@media (max-width: 1100px) {
  ._workcontainer {
    max-width: 900px;
  }

  .intro__title {
    font-size: 60px;
  }

  .developer__content {
    padding: 0px 10px 35px 10px;
  }

  .text {
    font-size: 18px;
  }

  .title {
    font-size: 44px;
  }
}

@media (max-width: 900px) {
  ._icon-logo:before {
    font-size: 30px;
  }

  body._lock {
    overflow: hidden;
  }

  ._workcontainer {
    max-width: 767px;
  }

  .header__menu {
    height: 50px;
    line-height: 30px;
  }

  .menu__body {
    position: fixed;
    color: #333;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(201, 201, 102, 0.9);
    overflow: auto;
    padding: 70px 10px 30px 10px;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__body._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
  }

  .menu__body .menu__logo_menu {
    display: none;
  }

  .menu__body li {
    margin-bottom: 30px;
  }

  .menu__body li:last-child {
    margin-bottom: 0px;
  }

  .menu__logo_menu span {
    font-size: 20px;
  }

  .menu__logo a span {
    font-size: 20px;
  }

  .menu__logo_burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: flex-start;
  }

  .menu__link {
    font-size: 40px;
    display: block;
    text-align: center;
  }

  .menu__link_login {
    display: block;
  }

  .menu__link_asterisk::after {
    position: absolute;
    bottom: 10px;
    left: 40%;
    color: red;
    content: '\002A';
  }

  .menu__login {
    display: none;
  }

  .menu__burger {
    display: block;
    position: absolute;
    top: 15px;
    right: 18px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .menu__burger::before,
  .menu__burger::after,
  .menu__burger span {
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #333;
  }

  .menu__burger::before,
  .menu__burger::after {
    content: '';
  }

  .menu__burger::before {
    top: 0;
  }

  .menu__burger::after {
    bottom: 0;
  }

  .menu__burger span {
    top: 45%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .menu__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__burger._active::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu__burger._active::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .intro__title {
    padding-top: 0px;
  }

  .title {
    font-size: 36px;
  }

  .footer__subcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__policy {
    margin-bottom: 5px;
  }

  .footer__cookies {
    margin-bottom: 5px;
  }
}

@media (max-width: 870px) {
  .menu__list li {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  ._workcontainer {
    max-width: 600px;
  }

  .intro {
    padding: 35px 0 45px;
  }

  .intro__content {
    margin-right: 0;
  }

  .intro__block {
    max-width: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .intro__image {
    display: none;
  }

  .developer__body {
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .developer__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .developer__subtitle {
    margin-bottom: 10px;
  }

  .developer__links {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .developer__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-left: 0px;
  }

  .remote__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .remote__link {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .get__subtitle {
    margin-bottom: 16px;
  }

  .get__text {
    margin-bottom: 40px;
  }

  .get__link {
    font-size: 0.875em;
    padding: 0.32em 1.78em 0.32em 1.35em;
  }

  .get__connect,
  .get__launch {
    padding: 45px 15px 25px;
  }

  .get__language {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .get__iconlanguage {
    margin-bottom: 0.71em;
  }

  .title {
    font-size: 32px;
    line-height: 1.2;
  }

  .subtitle {
    font-size: 28px;
  }

  .footer__subcontainer {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  ._workcontainer {
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .get__connect,
  .get__launch {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }

  .text {
    font-size: 14px;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 24px;
  }
}

@media (max-width: 550px) {
  .footer__subcontainer {
    font-size: 8px;
  }
}

@media (max-width: 500px) {
  .intro__title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .intro__text {
    margin-bottom: 20px;
  }

  .developer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .developer__link:last-child {
    margin-bottom: 0px;
  }

  .button {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 15px;
  }

  .button:last-child {
    margin-bottom: 0px;
  }

  .comment__item {
    min-width: 270px;
  }

  .partners {
    max-width: 500px;
  }

  .slick-track {
    margin-left: 0px;
  }

  .subtext {
    font-size: 12px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__block {
    margin: 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__links {
    margin-left: 20px;
  }

  .footer__row._init .footer__title {
    padding: 10px 40px 10px 30px;
  }

  .modal__content {
    padding: 6rem 3rem 4rem;
  }
}

@media (max-width: 400px) {
  .button {
    font-size: 1.125em;
  }

  .footer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__social a:first-child {
    margin-left: 0;
  }
}

@media (max-width: 340px) {
  ._workcontainer {
    max-width: 320px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1305px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1100px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 870px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 550px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 340px){

@supports (-webkit-appearance:none){

}

}
